<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <img class="navbar-brand-full ml-5 mt-2" src="{% static 'img/brand/Asset 2.svg' %}"   width="180" height="80" alt="#">
    <div class="container">
<h1 class="text-center"> WORLD CHARITY CLUB </h1>
<p>
  We are committed to the poor.We are called to serve the people in greatest need around the world, to relieve their suffering and to promote the transformation of their condition of life.
  We stand in solidarity in a common search for justice. We seek to understand the situation of the poor and working alongside them toward fullness of life. We share our discovery of eternal hope for mankind.
  
  We seek to facilitate an engagement between the poor and the affluent that opens both to transformation. We respect the poor as active participants, not passive recipients, in this relationship. They are people from whom others may learn and receive, as well as give. The need for transformation is common to all. Together we share a quest for justice, peace, reconciliation, and healing in a broken world.
  
  The World Charity Club offers you the big opportunity to help people around the world as well as earn extra money by involving more people in this community.you can donate just $50 where you can have a way to earn even $100,000 plus by few months.It’s a very proven way to be reached quickly.
  
  Please check the planning below.</p>
</div>
<div class="container">
<h3> step 1 : Level Earning</h3>
<table class="table">
  <thead class="thead-dark p-2">
    <tr>
      <th scope="col">level 1</th>
      <th scope="col">Total downline</th>
      <th scope="col">Direct Reference</th>
      <th scope="col">Action Days</th>
	  <th scope="col">Weekly Return</th>
	  <th scope="col">Reactivation</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>20</td>
      <td>1</td>
      <td>5</td>
	  <td>$ 20.00</td>
	  <td></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>40</td>
      <td>1</td>
      <td>6</td>
	  <td>$ 30.00</td>
	  <td></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>100</td>
      <td>1</td>
      <td>7</td>
	  <td>$ 80.00</td>
	  <td></td>
    </tr>
	 <tr>
      <th scope="row">4</th>
      <td>300</td>
      <td>1</td>
      <td>7</td>
	  <td>$ 120.00</td>
	  <td></td>
    </tr>
	 <tr>
      <th scope="row">5</th>
      <td>600</td>
      <td>1</td>
      <td>7</td>
	  <td>$ 190.00</td>
	  <td></td>
	  
    </tr>
	 <tr>
      <th scope="row">6</th>
      <td>1100</td>
      <td>1</td>
      <td>7</td>
	  <td>$ 250.00</td>
	  <td></td>
	  
    </tr>
		 
		 
		 <tr>
      <th scope="row">7</th>
      <td>3000</td>
      <td>1</td>
      <td>7</td>
	  <td>$ 400.00</td>
	  <td>$ 50 & at each level below </td>
	  
    </tr>
		 <tr>
      <th scope="row">8</th>
      <td>6000</td>
      <td>1</td>
      <td>8</td>
	  <td>$ 700.00</td>
	  <td> </td>
	  
    </tr>
		 <tr>
      <th scope="row">9</th>
      <td>9000</td>
      <td>1</td>
      <td>8</td>
	  <td>$ 900.00</td>
	  <td></td>
	  
    </tr>
			 <tr>
      <th scope="row">10</th>
      <td>12000</td>
      <td>1</td>
      <td>9</td>
	  <td>$ 1300.00</td>
	  <td></td>
	  
    </tr>
			 <tr>
      <th scope="row">11</th>
      <td>18000</td>
      <td>1</td>
      <td>9</td>
	  <td>$ 2000.00</td>
	  <td></td>
	  
    </tr>
			 <tr>
      <th scope="row">12</th>
      <td>22000</td>
      <td>1</td>
      <td>10</td>
	  <td>$ 4000.00</td>
	  <td></td>
	  
    </tr>
			 <tr>
      <th scope="row">13</th>
      <td>26000</td>
      <td>1</td>
      <td>10</td>
	  <td>$ 6000.00</td>
	  <td></td>
	  
    </tr>
    <tr>
      <th scope="row">14</th>
      <td>32000</td>
      <td>1</td>
      <td>12</td>
	  <td>$ 9000.00</td>
	  <td></td>
	  
    </tr>
				 <tr>
      <th scope="row">15</th>
      <td>37000</td>
      <td>1</td>
      <td>12</td>
	  <td>$ 12000.00</td>
	  <td></td>
	  
    </tr>
				 <tr>
      <th scope="row">16</th>
      <td>41000</td>
      <td>1</td>
      <td>12</td>
	  <td>$ 15000.00</td>
	  <td></td>
	  
    </tr>
				 <tr>
      <th scope="row">17</th>
      <td>45000</td>
      <td>1</td>
      <td>12</td>
	  <td>$ 18000.00</td>
	  <td></td>
	  
    </tr>
				 <tr>
      <th scope="row">18</th>
      <td>50000</td>
      <td>1</td>
      <td>12</td>
	  <td>$ 30000.00</td>
	  <td></td>
	  
    </tr>
  </tbody>
</table>


</div>

<div class="container">
<h3>step 2: Generating Earning</h3>
<table class="table">
  <thead class="thead-dark p-2">
    <tr>
      <th scope="col">Generation</th>
      <th scope="col">Revenue Percentage</th>
      <th scope="col">Revenue Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td>1st Level or Generation</td>
      <td>10.00%</td>
	  <td> $ 5.00</td>
      
	  
	 
    </tr>
    <tr>
      
      <td>2nd Level or Generation</td>
      <td>4.00 %</td>
      <td>$ 2.00</td>
	  
    </tr>
    <tr>
     
      <td>3rd Level or Generation</td>
      <td>2.00 %</td>
      <td>$ 1.00</td>
	 
	 
    </tr>
	 <tr>
     
      <td>4th Level or Generation</td>
      <td>2.00 %</td>
      <td>$ 1.00</td>
	 
    </tr>
	 <tr>
     
      <td>5th Level or Generation</td>
      <td>1.00%</td>
      <td>$ 0.50</td>
	 
	  
    </tr>
	 <tr>
      
      <td>6th Level or Generation</td>
      <td>1.00 %</td>
      <td>$ 0.50</td>
	  
	  
    </tr>
	 <tr>
      
      <td>7th Level or Generation</td>
      <td>0.50%</td>
      <td>$ 0.25</td>
	  
	  
    </tr>
		 <tr>
      
      <td>8th Level or Generation</td>
      <td>0.50%</td>
      <td>$ 0.25</td>
	  
	  
    </tr>
			 <tr>
      
      <td>9th Level or Generation</td>
      <td>0.50%</td>
      <td>$ 0.25</td>
	  
	  
    </tr>
			 <tr>
      
      <td>10th Level or Generation</td>
      <td>0.50%</td>
      <td>$ 0.25</td>
	  
	  
    </tr>

	
  </tbody>
</table>

</div>

<div class="container">
<h3>step 3: Ranks Earning</h3>
<table class="table">
  <thead class="thead-dark p-2">
    <tr>
	  <th> SL</th>
      <th scope="col">Reward Point</th>
      <th scope="col">RewardBonus $</th>
      <th scope="col">Achived Ranks</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> 1</td>
      <td>300</td>
	  <td> $ 50.00</td>
      <td>Super Silver</td>
	  
      
	  
	 
    </tr>
    <tr>
      <td> 2</td>
      <td>1000</td>
      <td>$ 150.00</td>
      <td>Glittering Pearl</td>
	  
    </tr>
    <tr>
     <td>3</td>
      <td>3000</td>
      <td>$ 300.00</td>
      <td>Holy Ruby </td>
	 
	 
    </tr>
	 <tr>
     <td>4</td>
      <td>7000</td>
      <td>$ 500.00</td>
      <td>Extreme Gold</td>
	 
    </tr>
	 <tr>
     <td> 5</td>
      <td>15000</td>
      <td>I Phone</td>
      <td>Premium Platinum</td>
	 
	  
    </tr>
	 <tr>
      <td>6</td>
      <td>40000</td>
      <td>MAC Book & Singapore trip. </td>
      <td>Reflective Rhodium</td>
	  
	  
    </tr>
	 <tr>
      <td>7</td>
      <td>80000</td>
      <td>Sadden car & France trip</td>
      <td>Sharp Diamond</td>
	  
	  
    </tr>
		 <tr>
      <td>8</td>
      <td>Having 10 sharp diamond holders</td>
      <td>Luxurious Apartment</td>
      <td>Lustrous Titanium</td>
	  
	  
    </tr>
			 <tr>
      <td>9</td>
      <td>Having 10 lustrous Titanium holders</td>
      <td>10% Profit of Company</td>
      <td>Crown Ambassador</td>
	  
	  
    </tr>
			

	
  </tbody>
</table>

</div>
  
<h1 class="text-center"> WORLD CHARITY CLUB </h1>
<br/>
<br/>
<div class="container">
<div class="card-deck">
  <div class="card">
	<img class="card-img-top" src="{% static 'img/img/99-01.jpg' %}"  alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title text-center">SUPER SILVER</h3>
      <h3 class="text-center">300 Points = 50$</h3>
      
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'img/img/10-01.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title text-center">GLITTERING PEARL</h3>
      <h3 class="text-center">1000 Points = 150$</h3>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'img/img/ruby.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title text-center">HOLY RUBY</h3>
      <h3 class="text-center">3000 Points = 300$</h3>
    </div>
  </div>
</div>
<br>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="{% static 'img/img/extremegold.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title text-center">EXTREME GOLD</h3>
      <h3 class="text-center">7000 Points = 500$</h3>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'img/img/platinum.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title text-center">PREMIUM PLATINUM</h3>
      <h3 class="text-center">15000 Points = I Phone</h3>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'img/img/5555555555555-01.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title text-center">REFLECTIVE RODHIUM</h3>
      <h3 class="text-center">40000 Points = MacBook & Singapur Trip
</h3>
    </div>
  </div>
</div>
<br>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="{% static 'img/img/diamond.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title text-center">SHARP DIAMOND</h3>
      <h3 class="text-center">80000 = Sadden car & France trip</h3>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'img/img/11-01.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title text-center">LUSTROUS PLATINUM</h3>
      <h3 class="text-center">Having 10 sharp diamond holders =  Luxurious Apartment</h3>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'img/img/crown.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title text-center">CROWN AMBASSEDOR</h3>
      <h3 class="text-center"> Having 10 lustrous Titanium holders = 10% Profit of Company</h3>
    </div>
  </div>
</div>
</div>
<br>

<div class="row">
    <div class="col-lg-8 mx-auto text-center">
      <h2 class="mb-4">INVOLVE YOURSELF</h2>
      <hr class="my-4">
      <p class="mb-5">Please join to world’s most popular charity club by only $50.
        Building relationships and earning the right feedback is the goal.
        Planning and working alongside local leaders. Finding solutions to 
        change the future of the people by the next generation is the mission.
        Here's just some of steps what we will accomplish together in future: So
        destination is you donate $50 today achieve $1,00,000 very soon. 
        </p>
    </div>
  </div>
   
</body>
</html> 

