<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>please activate your account using btc and user payment</h1>
        <div>
                <a class="buy-with-crypto" data-cache-disabled="true" data-custom="MY_CUSTOM_DATA"
                   href="https://commerce.coinbase.com/checkout/83f2f635-8bc7-474a-b9b5-1b72317308ae">
                  <span>Buy with Crypto</span>
                </a>
                <script src="https://commerce.coinbase.com/v1/checkout.js?version=201807">
                </script>
              </div>
    
</body>
</html>