

{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card mx-4 mt-4">
            <div class="card-body p-4">
              <h3 class="pb-4 text-center">TRANSFER WALLET</h3>
              <h5 class="pb-4 text-center">your current account balance is {{ user.userprofileinfo.account }}$</h5>
              
            <form method="POST">
                    {% csrf_token %}            
             <div class="input-group mb-3">
              <label for="{{ form.username.id_for_label }}"><strong>{{ form.username.label }}</strong></label>
            {% render_field form.username class="form-control w-100" placeholder='Username' %}
            {% for error in form.username.errors %}
              <div class="text-danger">{{ error }}</div>
            {% endfor %}
           </div>
             <div class="input-group mb-3">
              <label for="{{ form.amount.id_for_label }}"><strong>{{ form.amount.label }}</strong></label>
              {% render_field form.amount class="form-control w-100" placeholder='amount' %}
              {% for error in form.amount.errors %}
              <div class="text-danger">{{ error }}</div>
            {% endfor %}
           </div>



                    <button class="btn btn-block btn-success mt-4" type="submit">Submit</button>
            </form>
            </div>
          </div>
        </div>
      </div>


{% endblock %}      